body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: orange;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
input,
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  background-color: orange;
  border: solid;
}

.btn {
  &:hover {
    cursor: pointer;
    background-color: rgb(150, 99, 5);
  }
  &--red {
    background-color: rgb(255, 60, 0);
  }
  &--green {
    background-color: rgb(90, 128, 0);
  }
  &--submit {
    background-color: rgb(0, 140, 255);
  }
}

.container {
  font-size: 1.6em;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__header {
    @media screen and (max-width: 550px) {
      font-size: 1.5em;
    }
  }
  &__inputs {
    margin-bottom: 10px;
    @media screen and (max-width: 550px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__input {
    @media screen and (max-width: 550px) {
      margin: 5px;
    }
  }
  @media screen and (max-width: 840px) {
    font-size: 1.5em;
  }
  @media screen and (max-width: 410px) {
    margin: 10px;
    font-size: 1.2em;
  }
  @media screen and (max-width: 330px) {
    font-size: 1em;
  }
}
